.header {
  
    background-color: yellow;
    padding: 10px 0px;
    text-align: right;
    color: black;
  }


    .quote-button {
      position: absolute;
      right: 10.5%;
      top: 100px;
      background-color: yellow;

      }



.header-2{
    background-color: yellow;
    padding: 10px 0;
    color: black;
}

.div{
    background-color: yellow;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: yellow;
  margin-left: 12%;
}

.card:hover {
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  overflow:hidden;
  transition-property: box-shadow, color;
  transition-duration: 0.10s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(0.98);
}


hr{
  background-color: gray;
}
.img-1{
  margin-left: 2%;
}



@media screen and (min-width: 1461px) {

  .background-1{
    background-image: url(../img/fotoprojecten.png);
    height: 30rem;
    background-size: 100%;
    background-repeat: no-repeat;

  }

  .background-2{
    background-image: url(../img/fotoheader.png);
    height: 30rem;
    background-size: 100%;
    background-repeat: no-repeat;

  }
  .background-3{
    background-image: url(../img/fotospecial.png);
    height: 30rem;
    background-size: 100%;
    background-repeat: no-repeat;

  }
  .background-6{
    background-image: url(../img/stucwerk1.jpg);
    height: 30rem;
    background-size: 100%;
    background-repeat: no-repeat;

  }
  .background-5{
    background-image: url(../img/fotocontact.png);
    height: 30rem;
    background-size: 100%;
    background-repeat: no-repeat;

  }


}


@media screen and (max-width: 1460px) {
  .background-1 {
    background-image: url(../img/fotoprojecten.png);
    height: 10rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

  }

  .background-2 {
    background-image: url(../img/fotoheader.png);
    height: 10rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

  }
  .background-3 {
    background-image: url(../img/fotospecial.png);
    height: 10rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

  }
  .background-6 {
    background-image: url(../img/stucwerk1.jpg);
    height: 10rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

  }
  .background-5{
    background-image: url(../img/fotocontact.png);
    height: 10rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

  }
}















 
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}
.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 545px) {
  .logo {
    width: 250px;
    height: 30%;


  }
}

@media screen and (min-width: 545px) {
  .logo {
    max-height:100%;
    width: 100%;

  }


}

@media (max-width: 1000px) {
  .image-mobile {
    padding: 2px;  
    width: 100%; /* Sets the width of the image to 100% on screens smaller than 576px */
  }
}

#my-form-status {
  color: #3cdb3c;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: none;
}